# Please refer for JA standards for C# Code Style
# https://wiki.justanswer.com/display/eng/C-sharp+Code+Style
root = true

[*]
indent_style = space

dotnet_diagnostic.IDE0003.severity = error
dotnet_diagnostic.IDE0055.severity = error
dotnet_diagnostic.IDE0011.severity = error
dotnet_diagnostic.IDE0007.severity = suggestion
dotnet_diagnostic.IDE0008.severity = error
dotnet_diagnostic.IDE0040.severity = error

[*.cs]
# Remove this qualification
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0003-ide0009
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_event = false

# New-line options
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options
csharp_new_line_before_open_brace = all

# Add braces
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0011
csharp_prefer_braces = true

# 'var' preferences
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0007-ide0008#csharp_style_var_for_built_in_types
csharp_style_var_for_built_in_types = false
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = false

# Private instance fields with underscore
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules#example-private-instance-fields-with-underscore
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_style.underscored.capitalization = camel_case
dotnet_naming_style.underscored.required_prefix = _
dotnet_naming_rule.private_fields_underscored.symbols = private_fields
dotnet_naming_rule.private_fields_underscored.style = underscored
dotnet_naming_rule.private_fields_underscored.severity = error

# Explicitly specify access modifiers
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/ide0040
dotnet_style_require_accessibility_modifiers = always

# Public Methods & Properties Pasacal Case
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/style-rules/naming-rules#example-public-member-capitalization
dotnet_naming_symbols.public_symbols.applicable_kinds = property,method
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public
dotnet_naming_style.first_word_upper_case_style.capitalization = first_word_upper
dotnet_naming_rule.public_members_must_be_capitalized.symbols  = public_symbols
dotnet_naming_rule.public_members_must_be_capitalized.style    = first_word_upper_case_style
dotnet_naming_rule.public_members_must_be_capitalized.severity = error

#Structured logging
# CA2253: Named placeholders should not be numeric values
dotnet_diagnostic.CA2253.severity = error
# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = error

# CS9113: Parameter is unread.
dotnet_diagnostic.CS9113.severity = error

# CS9124: Parameter is captured into the state of the enclosing type and its value is also used to initialize a field, property, or event.
dotnet_diagnostic.CS9124.severity = error
