*.user
*.suo
_ReSharper.*
*.ReSharper
.svn/
bin/
Bin/
obj/
TestResults/
*.Publish.xml
build.xml
_Logs/
TestResult.xml
*.docstates
*.dotcover
*.DotSettings
.project
.pydevproject
.settings/
.idea/
.vscode
__pycache__/
*.pyc
node_modules/
.idea/
**/Backup/
**/.vs/
*.pubxml
*.dbmdl
UpgradeLog.htm
*.min.css
*.min.js
packages
!**/node.exe
/.ssh/*
*.log

# Generated UI files (built from %ProjectName%.UI)
wwwroot/
!wwwroot/.gitkeep
